*{
margin: 0;
padding: 0;
box-sizing:border-box;   
font-family:'Poppins'; 
}


:root{
--primary-text-color:#183b56;   
--secondary-text-color:#577592;   
--accent-color:#2294ed;
--accent-color--dark:#1d69a3;

}


body{ 
color:var(--primary-text-color);       
}



#navbar{
display:flex;
justify-content:space-between;
}


a{
text-decoration: none;    
}



#ul{
list-style:none;  
display:flex;
gap:10px;
}


.bars{
cursor: pointer;
}


.flex{
display:flex;
align-items:center;
}


.container{
max-width:1100px;
margin-inline:auto;
overflow:hidden;  
}


.logo{
width:120px;
height:50px;   
}


nav{
background:#f3faff;
box-shadow:0 0 4px #bbd;   
position:fixed;
z-index:10;
top:0;
left:0;
right:0;
}


.bars:hover{
color:var(--secondary-text-color);

}

.bars:active{
color:red;    
}


.search-bar{
height:30px; 
gap:5px;
}


.news-input{
width:200px;
height:100%;
border-radius:4px;
border:2px solid #bbd082;
outline:none;
padding:10px;
color:var(--primary-text-color);
}


.search{
height:100%;
background:var(--accent-color);
color:white;
border:none;   
padding:0 20px;
border-radius:4px;
cursor: pointer;
}


.search:hover{
background:var(--accent-color--dark);    
}


p{
font-family:sans-serif; 
color:var(--secondary-text-color);
line-height:1.4rem;   
}


#img{
height:250px;
width:100%;
object-fit:cover;    
}


.card-container{         
align-items:start;
flex-wrap:wrap;
row-gap:20px;
column-gap:10px;
}

.card{
width:360px;
max-height:500px; 
min-height:400px; 
background:#fff;
border-radius:4px;
cursor: pointer;
box-shadow:0 0 4px #d4ecff;
transition-duration:0.3s;
overflow:hidden;
}


.card:hover{
box-shadow:1px 1px 8px #d4ecff;    
background:#f9fdff;
transform:translateY(-2px);
}


main{
margin-top:80px;    
}



.card-content{
padding:15px; 
display:flex;
flex-direction:column;
gap:10px;   
}


